html,body {
    font-family: "メイリオ", Meiryo, "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro";
    background: #F0F2F4;
    }
.hero-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
.mysocial { color: hsl(0, 0%, 100%);}
.mysocial:hover { color: hsl(0, 0%, 71%) }

code {
     font-family:  'Source Code Pro';
 }
/* .chroma {font-family:  'Source Code Pro'; } */


/************************************
 リンクカードのスタイル
************************************/
.link-card{
    margin: 20px 0;
    max-width:100%;
    position: relative;
    clear:both;
    min-height:145px;
    min-width: 300px;
    box-sizing: border-box;
    padding:12px;
    padding-bottom: 6px;
    border:1px solid #ddd;
    word-wrap: break-word;
    border-radius: 5px;
  }
  
  .link-card:after{
    content: "";
    clear: both;
    display: block;
  }
  
  .link-card-thumbnail{
      float: left;
  }
  
  .link-card img.link-card-thumb-image{
    border:0;
    width: 178px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
  }
  
  .link-card-content{
    margin-left:180px;
    padding-left:2%;
    line-height:120%;
    margin-bottom: 0.5em;
  }
  
  .link-card-title{
    margin-bottom:5px;
  }
  
  .link-card-title a{
    font-weight: bold;
    text-decoration: none;
    color: #111;
  }
  
  .link-card-excerpt{
    color: #333;
    font-size: 0.8em;
    max-height: 80px;
    overflow: hidden;
  }
  
  .link-card-footer {
      position:relative;
    font-size: 0.7em;
    width: 100%;
    clear:both;
    vertical-align: bottom;
  }
  
  .link-card-footer a{
      color:#777;
      text-decoration:none;
      padding-left:18px;
  }
  
  .link-card-footer a:hover{
      color:#111;
  }
  
  .link-card-footer img{
      position:absolute;
      float:left;
      top:50%;
      -webkit-transform : translateY(-50%);
      transform : translateY(-50%);
  }
  
  .link-card-hatebu{
    float: left;
    margin-right: 7px;
    position: relative;
    bottom: -5px;
  }
  
  /* リンクカード（幅が狭い場合）*/
  @media screen and (max-width: 560px){
    .article .link-card,
    .article .entry-content .hover-card{
      width: 100%;
    }
  
    .link-card-content{
      margin-left: 0;
    }
  
    .link-card-title a{
      font-size: 14px;
      line-height: 120%;
    }
  
    .link-card-excerpt,
    .link-card-footer{
      font-size: 11px;
      line-height: 120%;
    }
  
    #main .link-card,
    #main .hover-card{
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  
    img.link-card-thumb-image{
      width: 80px;
      height: 80px;
    }
  
    .link-card-content {
      margin-left: 90px;
    }
  }