
#TableOfContents > ul {
    font-size: smaller;
    border-radius: 0.5em;
    border: solid 0.1px rgb(0, 0, 0);
    padding: 20px;
    line-height: 2;
  }
  #TableOfContents > ul:before {
    content: "目次";
    font-weight: bolder;
  }
  #TableOfContents ul {
    list-style-type: none;
  }
  #TableOfContents li {
    padding-top: 0;
  }
  #TableOfContents li > ul {
    padding-left: 1em;
    width: 100%;
  }
  #TableOfContents a {
    font-weight: normal;
    display: block;
    border-bottom: dashed 1px lightgray;
  }

  <div style="padding: 20px;  background-color: rgb(248, 248, 248);">