{{ define "main" }}

<div class="columns">
    <div class="column is-9">
      <div class="box">
        <div class="content">
            <h1>{{ .Params.head2tag }}</h1>
            {{ with .Params.tags }}
              <div>
                {{ range . }}
                  <a class="tag is-info" href="/tags/{{lower . }}/">{{ . }}</a>
                {{ end }}
              </div>
            {{ end }}
            <hr>
                {{ partial "test.html" . }}
                {{- .Content -}}
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
    </div>
    <div class="column is-3">
        {{ partial "widget-tags.html" . }}<br>
        {{ partial "widget-recent.html" . }}<br>
        {{ partial "widget-related.html" . }}<br>
        {{ partial "widget-archives.html" . }}
    </div>
</div>

{{ end }}