{{ define "main" }}

<div class="columns">
    <div class="column is-9">
        <div class="tile is-child box">
            <div class="content">
                {{ $first_h2 := index (findRE "<h2 id.*?>" .Content 1) 0 }}
                    {{ .Scratch.Set "first_h2" $first_h2}}
                    {{ if and (.Params.toc) (.Scratch.Get "first_h2") }}
                      {{ $toc_and_h2 := printf "%s\n%s" (partial "toc.html" . ) (.Scratch.Get "first_h2")}}
                      {{ replace .Content (.Scratch.Get "first_h2") $toc_and_h2 | safeHTML }}
                    {{ else }}
                      {{ .Content }}
                    {{ end }}
              {{ template "_internal/disqus.html" . }}
            </div>
        </div>
    </div>
    <div class="column is-3">
        {{ partial "widget-tags.html" . }}<br>
        {{ partial "widget-recent.html" . }}<br>
        {{ partial "widget-related.html" . }}<br>
        {{ partial "widget-archives.html" . }}
    </div>
</div>

{{ end }}
