{{ define "main" }}

<div class="columns">
    <div class="column is-9">
        <div class="tile is-child box">
            <div class="content">
                {{- /* tocパラメータを確認 */ -}}
                {{- if (.Param "toc") -}}
                        {{- $header := (findRE "<h[1-6].*?>(?:.|\n)*?</h[1-6]>" .Content) -}}
                        {{- $firstH := index $header 0 -}}
                
                        {{- if ne $firstH nil -}}
                            <div style="padding: 20px; border: solid 0.1px rgb(0, 0, 0); background-color: rgb(248, 248, 248);">
                            <h4>Contents</h4>
                            {{- $newH := printf `%s%s` .TableOfContents $firstH -}}
                            </div>
                            {{- replace .Content $firstH $newH | safeHTML -}}
                        {{- else -}}
                            {{- .Content -}}
                        {{- end -}}
                {{- else -}}
                    {{- /* ToC使わないとき */ -}}
                    {{- .Content -}}
                {{- end -}}
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
    </div>
    <div class="column is-3">
        {{ partial "widget-tags.html" . }}<br>
        {{ partial "widget-recent.html" . }}<br>
        {{ partial "widget-related.html" . }}<br>
        {{ partial "widget-archives.html" . }}
    </div>
</div>

{{ end }}
