
body {
  color: #333;

  /* 下記行目を更新⇒更新後はその下の行
  /* font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo,'游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;  */
  font-family: "メイリオ", Meiryo,"Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro",'游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
  font-weight: 500;
  font-feature-settings : "palt";
  font-size: 15px; /* iherit→17pxに変更 */
  line-height: 1rem;
  margin: 0;
  padding: 0;
}


article.sn > .article-body p {
  margin: 1rem 0;
  line-height: 1.5rem;/* 行間を1.0→1.5に変更 */
}

/* contact・privacypolicy */
.mysocial { 
  color: hsl(207, 90%, 54%);
}
.mysocial:hover { color: hsl(0, 0%, 71%) }

/* ---------blogcard--------- */
@charset "utf-8";

/* カード全体像 */
.blogcard {
  position: relative;
  max-width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgb(211,211,211);
  box-shadow: 0 10px 6px -6px rgba(0,0,0,.1);
  background: white;
  color: rgb(51,51,51);
}

/* float親要素 */
.blogcard-content {
  margin-bottom: 5px;
  overflow: hidden;
}

/* 画像 */
.blogcard-image {
  display: inline-block;
  float: right; /* 画像を左に配置したい場合は left に変更 1/2 */
  width: 100px; /* 画像の表示サイズ変更は数値をpxで変更 1/6 */
  height: 100px; /* 画像の表示サイズ変更は数値をpxで変更 2/6 */
  margin: 0 0 5px 5px; /* 画像を左に配置したい場合は 0 10px 5px 0 に変更 2/2 */
}

.blogcard-image-wrapper {
  display: inline-block;
  width: 100px; /* 画像の表示サイズ変更は数値をpxで変更 3/6 */
  height: 100px; /* 画像の表示サイズ変更は数値をpxで変更 4/6 */
}

.blogcard-image-wrapper img {
  width: 100px; /* 画像の表示サイズ変更は数値をpxで変更 5/6 */
  height: 100px; /* 画像の表示サイズ変更は数値をpxで変更 6/6 */
  object-fit: cover;
  object-position: center center;
}

/* タイトル */
.blogcard-title {
  margin: 0 !important;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.4;
}

.blogcard-title a {
  color: rgb(61,63,68);
  word-break: break-all;
}

.blogcard-title a:hover {
  text-decoration: underline;
}

/* 引用 */
.blogcard blockquote {
  position: static;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent; /* ブログテンプレートに背景に関する強制力の強い指定がある場合には transparent の直後に !important を付けてください */
}

.blogcard blockquote::before,
.blogcard blockquote::after {
  content: none;
}

/* 記事概要 */
.blogcard-description {
  margin: 1em 0 !important;
  font-size: 13px;
  line-height: 1.5 !important;
}

/* フッター(元記事サイト名とリンク) */
.blogcard-footer {
  font-size: 12px;
  height: calc(12px * 1.2 + 10px);
}

.blogcard-footer a {
  color: rgb(154,165,171);
  text-decoration: underline;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 2.5;　/* リンクの位置はここで変更 */
  word-break: break-all;
}

.blogcard-footer a img {
  background-color: rgb(154,165,171);
  margin-right: 5px;
  margin-left: 5px;/* ロゴの位置はここで変更 */
  margin-bottom: 5.5px;
}

.blogcard-footer a:hover {
  box-shadow: 0 10px 10px 2px rgba(0,0,0,.1);
}

/* タグ一覧 */
.tag:not(body) {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: .75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap
}

.tag:not(body).is-info {
  background-color: #209cee;
  color: #fff
}

/* code */
article.sn > .article-body code,
article.sn > .article-body pre {
  font-family: 'Source Code Pro','Meiryo', monospace;
  font-size: .79rem;
  line-height: 1.5
}

/* アソシエイトカッテネカスタマイズ */
.kattene {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 1em;
  box-sizing: border-box; }

.kattene div{
  margin: 0;
}

.kattene__imgpart {
  text-align: center; }

  .kattene__imgpart img {
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
    margin: 0;}

.kattene__description {
  font-size: 0.8em; }

.kattene .kattene__btns {
  width: 100%;
  margin-top: 0.5em; }

  .kattene__btns:after {
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
    content: "."; }

  .kattene__btns > div {
    float: left;
    margin-bottom: 5px; }

  .kattene__btns .kattene__btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
   }

  .kattene__btns.__three > div {
    width: 32.66667%; }

    .kattene__btns.__three > div:not(:last-child) {
      margin-right: 1%; }

  .kattene__btns.__two > div {
    width: 49.5%; }

    .kattene__btns.__two > div:nth-child(odd) {
      margin-right: 1%; }

@media screen and (max-width: 900px) {
  .kattene__imgpart {
    padding-bottom: 1em; }
  .kattene .kattene__btns {
    margin-top: 0.5em; }
  .kattene__btns.__five > div {
  width: 49.5%; }
  .kattene__btns.__five > div:nth-child(odd) {
    margin-right: 1%; }
  .kattene__btns.__five > div:last-child {
    margin-right: 0;
    float: right; }

  .kattene__btns.__four > div {
    width: 49.5%; }

    .kattene__btns.__four > div:nth-child(odd) {
      margin-right: 1%; }

  .kattene__btns.__one > div {
    width: 50%;
    margin-left: 25%; } }
@media screen and (min-width: 901px) {

  .kattene {
    display: table;
    width: 100%; }

  .kattene__imgpart {
    display: table-cell;
    width: 20%;
    padding-bottom: 5px;
  }

  .kattene__infopart {
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding-left: 10px;
    width: 80%; }

  .kattene .kattene__description {
    margin-bottom: 4em;
  }

  .kattene__btns {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding-right: 10px; }

  .kattene__btns.__five > div {
    width: 19.2%; }

    .kattene__btns.__five > div:not(:last-child) {
      margin-right: 1%; }

    .kattene__btns.__four > div {
      width: 24.25%; }

      .kattene__btns.__four > div:not(:last-child) {
        margin-right: 1%; }

    .kattene__btns.__two > div {
      width: 49.5%; }

      .kattene__btns.__two > div:not(:last-child) {
        margin-right: 1%; }

    .kattene__btns.__one > div {
      width: 49.5%;
      float: right; } }

.kattene .kattene__btn {
  appearance: none;
  background-color: #54c0d1;
  border: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.75em 0;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

  .kattene__btn:hover, .kattene__btn:focus {
    background-color: #439aa7;
    color: #fff !important; }

  .kattene__btn:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

    .kattene__btn:disabled:hover {
      background-color: #54c0d1; }

.kattene__btn.__small {
  padding: 0.55em;
  font-size: 0.9em; }

.kattene__btn.__orange {
  background-color: #FF9901;
  -webkit-box-shadow: 0 5px 0 #cc7a01;
  -moz-box-shadow: 0 5px 0 #cc7a01;
  box-shadow: 0 5px 0 #cc7a01;
  -o-box-shadow: 0 5px 0 #cc7a01;
  -ms-box-shadow: 0 5px 0 #cc7a01;
  margin-bottom: 5px;
  border-radius: 3px;
  text-align: center; }

  .kattene__btn.__orange:hover {
    background-color: #cc7a01; }

  .kattene__btn.__orange i {
    font-weight: bold; }

    .kattene__btn.__orange i:before {
      vertical-align: middle;
      font-size: 1.2em;
      margin-right: 0.2em; }

.kattene__btn.__blue {
  background-color: #007dcd;
  -webkit-box-shadow: 0 5px 0 #0064a4;
  -moz-box-shadow: 0 5px 0 #0064a4;
  box-shadow: 0 5px 0 #0064a4;
  -o-box-shadow: 0 5px 0 #0064a4;
  -ms-box-shadow: 0 5px 0 #0064a4;
  margin-bottom: 5px;
  border-radius: 3px;
  text-align: center; }

  .kattene__btn.__blue:hover {
    background-color: #0064a4; }

  .kattene__btn.__blue i {
    font-weight: bold; }

    .kattene__btn.__blue i:before {
      vertical-align: middle;
      font-size: 1.2em;
      margin-right: 0.2em; }

.kattene__btn.__red {
  background-color: #c20004;
  -webkit-box-shadow: 0 5px 0 #9b0003;
  -moz-box-shadow: 0 5px 0 #9b0003;
  box-shadow: 0 5px 0 #9b0003;
  -o-box-shadow: 0 5px 0 #9b0003;
  -ms-box-shadow: 0 5px 0 #9b0003;
  margin-bottom: 5px;
  border-radius: 3px;
  text-align: center; }

  .kattene__btn.__red:hover {
    background-color: #9b0003; }

  .kattene__btn.__red i {
    font-weight: bold; }

    .kattene__btn.__red i:before {
      vertical-align: middle;
      font-size: 1.2em;
      margin-right: 0.2em; }

.kattene__btn.__green {
  background-color: #0BBD80;
  -webkit-box-shadow: 0 5px 0 #099766;
  -moz-box-shadow: 0 5px 0 #099766;
  box-shadow: 0 5px 0 #099766;
  -o-box-shadow: 0 5px 0 #099766;
  -ms-box-shadow: 0 5px 0 #099766;
  margin-bottom: 5px;
  border-radius: 3px;
  text-align: center; }

  .kattene__btn.__green:hover {
    background-color: #099766; }

  .kattene__btn.__green i {
    font-weight: bold; }

    .kattene__btn.__green i:before {
      vertical-align: middle;
      font-size: 1.2em;
      margin-right: 0.2em; }

.kattene__btn.__pink {
  background-color: #e1325b;
  -webkit-box-shadow: 0 5px 0 #b42849;
  -moz-box-shadow: 0 5px 0 #b42849;
  box-shadow: 0 5px 0 #b42849;
  -o-box-shadow: 0 5px 0 #b42849;
  -ms-box-shadow: 0 5px 0 #b42849;
  margin-bottom: 5px;
  border-radius: 3px;
  text-align: center; }

  .kattene__btn.__pink:hover {
    background-color: #b42849; }

  .kattene__btn.__pink i {
    font-weight: bold; }

    .kattene__btn.__pink i:before {
      vertical-align: middle;
      font-size: 1.2em;
      margin-right: 0.2em; }

      .kattene {
        border: none !important;
        border-radius: unset !important;
        box-shadow: 0px 2px 5px 0 rgba(0,0,0,.26);
        background-color: #fafafa; /* 背景カラー */
        font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Helvetica, Meiryo, sans-serif;
        font-size: 16px;
        height: auto;
        line-height: 1.5;
        margin: 36px auto !important;
        padding: 12px 8px !important;
        overflow: hidden;
        width: 98% !important;
      }
      .kattene__imgpart {
        background: #fff;
        box-sizing: border-box;
        min-width: 150px;
        padding: 12px 0;
        vertical-align: middle;
      }
      .kattene__imgpart img {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      }
      .kattene__title>a {
        display: block;
        padding: 5px;
        color: #4392f1; /* タイトルのテキストカラー */
      }
      .kattene__description {
        color: rgba(0,0,0,0.54); /* 説明文のテキストカラー */
        font-size:0.7em !important;
        padding: 0 5px;
      }
      .kattene__btns {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto !important;
        padding: 12px 5px !important;
        position: initial !important;
      }
      .kattene__btns > div {
        box-shadow: 0 6px 12px -5px rgba(0,0,0,.3);
        border-radius: 8px;
      }
      @media screen and (min-width: 901px){
      .kattene__btns > div {
        width: 32.333% !important;
      }
      }
      @media screen and (max-width: 900px) {
      .kattene__imgpart {
        width: 100%;
      }
      .kattene__title,
      .kattene__description {
        text-align: center;
      }
      .kattene__btns {
        padding: 10px 5px !important;
      }
      .kattene__btns > div {
        width: 99% !important;
        margin: 3.5px auto !important;
      }
      }
      /*  全ボタン共通  */
      .kattene__btns a {
        margin: 0 !important;
        padding: 0 !important;
        border-radius: 8px !important;
        font-size: .8em !important;
        line-height: 30px !important;
        letter-spacing:0;
        -webkit-box-shadow: none !important;
        box-sizing: border-box;
        box-shadow: none !important;
      }
      .kattene__btns a:hover {
        background: #ffffff !important;
        opacity: 1;
      }
      /* ボタンオレンジ */
      .kattene__btn.__orange {
        border: 2px solid #ff9901 !important;
      }
      .kattene__btn.__orange:hover{
        color: #ff9901 !important;
      }
      /* ボタンブルー */
      .kattene__btn.__blue{
        border: 2px solid #007dcd !important; 
      }
      .kattene__btn.__blue:hover{
        color: #007dcd !important;
      }
      /* ボタンレッド */
      .kattene__btn.__red {
        border: 2px solid #c20004 !important; 
      }
      .kattene__btn.__red:hover{
        color: #c20004 !important;
      }
      /* ボタングリーン */
      .kattene__btn.__green {
        border: 2px solid #0BBD80 !important; 
      }
      .kattene__btn.__green:hover {
        color: #0BBD80 !important;
      }
      /* ボタンピンク */
      .kattene__btn.__pink {
        border: 2px solid #e1325b !important; 
      }
      .kattene__btn.__pink:hover {
        color: #e1325b !important;
      }
      /* WordPressで自動挿入されたPタグの余白を消す */
      .kattene p {
        margin: 0;
        padding: 0;
      }
      /* アソシエイトカッテネカスタマイズ終わり */