{{ $paginator := .Paginate (where .Site.RegularPages "Section" "post").ByPublishDate.Reverse }}
<section class="sidebar">
  <header>{{ .key | upper }}</header>
  <ul class="terms">
    <!--{{ range $key, $value := first 20 .value.ByCount }} -->
    {{ range (where .Site.RegularPages "Section" "post").GroupByDate "2006/01" }} -->
    <li><a href="{{ "archives" | absURL }}/{{ .Key }}">{{ .Key }}</a> ({{ len .Pages }})</li>
    <!--<li>"{{ "archives" | absURL }}/{{ .Key }}">{{ .Key }}</a> ({{ len .Pages }})</li>-->
    <!--<li><a href="{{ $.baseurl}}{{ $.key }}/{{ .Name | urlize | lower }}">{{ .Name }} </a></li>-->
    {{ end }}
  </ul>
</section>