
<!--
{{ .TableOfContents }}
{{- .Content -}}


{{- $toc := .TableOfContents -}}
{{- $toc := replaceRE `<ul>\n<li>\n<ul>` `<ol>` $toc -}}
{{- safeHTML $toc -}}
{{- .Content -}}-->


{{- /* tocパラメータを確認 */ -}}
{{- if (.Param "toc" | default true) -}}
    {{- /* 正規表現でh[1-6]を探す */ -}}
    {{- $header := (findRE "<h[1-6].*?>(?:.|\n)*?</h[1-6]>" .Content) -}}
    {{- /* 最初に出現するh[1-6]を取得 */ -}}
    {{- $firstH := index $header 0 -}}

    {{- if ne $firstH nil -}}
        {{- /* ヘッダーの前にToCを結合した「新しいヘッダー」を作成 */ -}}
        {{- $newH := printf `%s%s` .TableOfContents $firstH -}}
        {{- /* 古いヘッダーを新しいヘッダーに置換して出力 */ -}}
        {{- replace .Content $firstH $newH | safeHTML -}}
        {{- $toc := $newH -}}
        {{- $toc := replaceRE `<nav id="TableOfContents">\n<ul>\n<li>\n<ul>` `<nav id="TableOfContents"><ol>` $toc -}}
        {{- safeHTML $toc -}}
    {{- else -}}
        {{- /* そもそもヘッダーがない時は普通に出力 */ -}}
        {{- .Content -}}
    {{- end -}}
{{- else -}}
    {{- /* tocMove = falseの時 */ -}}
    {{- .Content -}}
{{- end -}}


<!--
{{- $toc := .TableOfContents -}}
{{- $toc := replaceRE `<nav id="TableOfContents">\n<ul>\n<li>\n<ul>` `<nav id="TableOfContents"><ul>` $toc -}}
{{- $toc := replaceRE `</ul>\n</li>\n</ul>\n</nav>` `</ul>\n</nav>` $toc -}}
{{- safeHTML $toc -}}
{{- .Content -}}
-->