<div class="blogcard">
    <div class="blogcard-image">
      <div class="blogcard-image-wrapper"><a href="{{ .Get "posturl" }}" target="_blank"><img src="https://toshikunblog.net/img/images.jpg" alt=""></a></div>
    </div>
    <div class="blogcard-text">
      <p class="blogcard-title"><a href="{{ .Get "posturl" }}" target="_blank">{{ .Get "title" }}</a></p>
      <p class="blogcard-description">{{ .Get "description" }}</p>
    </div>
    <div class="blogcard-footer"><a href="{{ .Get "posturl" }}" target="_blank"><img src="https://www.google.com/s2/favicons?domain=https://toshikunblog.net" alt="">toshikunblog.net</a></div>
</div>